<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Text Box Example</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;

        }

        .container .box {
            flex: 1 0 30%;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
        }

        .container .box label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .container .box input[type="text"] {
            width: 100%;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #ccc;
            box-sizing: border-box;

        }

        .container .box input[type="text"][name^="Not_"] {
            background-color: #969696;
            white-space: pre-wrap;

        }

        nav {
            background-color: #333;
            overflow: hidden;
            /* display: flex; */
            justify-content: space-between;
            align-items: center;
        }

        .navbar-center {
            display: flex;
            justify-content: center;
            align-items: center;
            /* position: relative; */
        }

        .navbar-center a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .navbar-center a:hover {
            background-color: #ddd;
            color: black;
        }

        .box {
            padding: 10px;
            border: 1px solid #ccc;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            width: 200px;
        }

        .box:hover,
        .box:focus {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .box input[type="text"] {
            height: 30px;
            /* set initial height */
            transition: height 0.2s;
            /* add transition effect */

        }

        .box input[type="text"]:focus {
            height: 100px;
            /* set expanded height */
        }
    </style>
</head>

<body>
    <nav>
        <div class="navbar-center">
            <a href="http://localhost:8000/"><b>Home</a>
            <a href="http://localhost:8000/filters">Keywords</a>
            <a href="http://localhost:8000/predict">Predict</b></a>
        </div>
    </nav>

    <h1>
        <center>Add comma separated values in below category text boxes</center>
    </h1>
    <form method="POST">
        <div class="container">
            <div class="box">
                <label>Roofing Issues</label>
                <input type="text" name="Roofing_Issues"
                    value="{% for keyword in keywords['Roofing_Issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}"
                    wrap="soft">
                <input type="text" name="Not_Roofing_Issues"
                    value="{% for keyword in keywords['Not_Roofing_Issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>




            <div class="box">
                <label>Plumbing Water Leak in Utility Closet</label>
                <input type="text" name="Plumbing:_Water_Leak_in_Utility_Closet"
                    value="{% for keyword in keywords['Plumbing:_Water_Leak_in_Utility_Closet'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Plumbing:_Water_Leak_in_Utility_Closet"
                    value="{% for keyword in keywords['Not_Plumbing:_Water_Leak_in_Utility_Closet'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>

            <div class="box">
                <label>Piping Sanitary Not Draining</label>
                <input type="text" name="Piping:_Sanitary_Not_Draining"
                    value="{% for keyword in keywords['Piping:_Sanitary_Not_Draining'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Piping:_Sanitary_Not_Draining"
                    value="{% for keyword in keywords['Not_Piping:_Sanitary_Not_Draining'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                </div>

            <div class="box">
                <label>Plumbing Fixture Leaks</label>
                <input type="text" name="Plumbing_Fixture_Leaks"
                    value="{% for keyword in keywords['Plumbing_Fixture_Leaks'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Plumbing_Fixture_Leaks"
                    value="{% for keyword in keywords['Not_Plumbing_Fixture_Leaks'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>Piping Below Ground Sanitary</label>
                <input type="text" name="Piping:_Below_Ground_Sanitary"
                    value="{% for keyword in keywords['Piping:_Below_Ground_Sanitary'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Piping:_Below_Ground_Sanitary"
                    value="{% for keyword in keywords['Not_Piping:_Below_Ground_Sanitary'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            

            <div class="box">
                <label>Toilet Not Flushing</label>
                <input type="text" name="Toilet_not_flushing"
                    value="{% for keyword in keywords['Toilet_not_flushing'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Toilet_not_flushing"
                    value="{% for keyword in keywords['Not_Toilet_not_flushing'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            

            <div class="box">
                <label>Plumbing Sewer Smell</label>
                <input type="text" name="Plumbing:_Sewer_Smell"
                    value="{% for keyword in keywords['Plumbing:_Sewer_Smell'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Plumbing:_Sewer_Smell"
                    value="{% for keyword in keywords['Not_Plumbing:_Sewer_Smell'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            

            <div class="box">
                <label>Plumbing Water Leaks Behind Sheetrock</label>
                <input type="text" name="Plumbing:_Water_Leaks_Behind_Sheetrock"
                    value="{% for keyword in keywords['Plumbing:_Water_Leaks_Behind_Sheetrock'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Plumbing:_Water_Leaks_Behind_Sheetrock"
                    value="{% for keyword in keywords['Not_Plumbing:_Water_Leaks_Behind_Sheetrock'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>Plumbing Leaking Water Heaters</label>
                <input type="text" name="Plumbing_Leaking_Water_Heaters"
                    value="{% for keyword in keywords['Plumbing_Leaking_Water_Heaters'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Plumbing_Leaking_Water_Heaters"
                    value="{% for keyword in keywords['Not_Plumbing_Leaking_Water_Heaters'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>Plumbing Fixtures that are in Poor Condition</label>
                <input type="text" name="Plumbing:_Fixtures_that_are_in_poor_condition"
                    value="{% for keyword in keywords['Plumbing:_Fixtures_that_are_in_poor_condition'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Plumbing:_Fixtures_that_are_in_poor_condition"
                    value="{% for keyword in keywords['Not_Plumbing:_Fixtures_that_are_in_poor_condition'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            

            <div class="box">
                <label>No Hot Water</label>
                <input type="text" name="No_hot_water"
                    value="{% for keyword in keywords['No_hot_water'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_No_hot_water"
                    value="{% for keyword in keywords['Not_No_hot_water'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>Low or No Water Pressure</label>
                <input type="text" name="Low_or_no_water_pressure"
                    value="{% for keyword in keywords['Low_or_no_water_pressure'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Low_or_no_water_pressure"
                    value="{% for keyword in keywords['Not_Low_or_no_water_pressure'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>

            <div class="box">
                <label>Humidity Mold</label>
                <input type="text" name="Humidity_mold" 
                    value="{% for keyword in keywords['Humidity_mold'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Humidity_mold" 
                    value="{% for keyword in keywords['Not_Humidity_mold'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>Heating Not Working</label>
                <input type="text" name="Heating_not_working" 
                    value="{% for keyword in keywords['Heating_not_working'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Heating_not_working"
                    value="{% for keyword in keywords['Not_Heating_not_working'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>AC Not Working Properly</label>
                <input type="text" name="AC_not_working_properly"
                    value="{% for keyword in keywords['AC_not_working_properly'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_AC_not_working_properly"
                    value="{% for keyword in keywords['Not_AC_not_working_properly'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            

            <div class="box">
                <label>Thermostat Issues</label>
                <input type="text" name="Thermostat_Issues"
                    value="{% for keyword in keywords['Thermostat_Issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Thermostat_Issues"
                    value="{% for keyword in keywords['Not_Thermostat_Issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>Smell in HVAC</label>
                <input type="text" name="Smell_in_HVAC"
                    value="{% for keyword in keywords['Smell_in_HVAC'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Smell_in_HVAC"
                    value="{% for keyword in keywords['Not_Smell_in_HVAC'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>Miscellaneous HVAC</label>
                <input type="text" name="Miscellaneous_HVAC"
                    value="{% for keyword in keywords['Miscellaneous_HVAC'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Miscellaneous_HVAC"
                    value="{% for keyword in keywords['Not_Miscellaneous_HVAC'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>Fan Issues</label>
                <input type="text" name="Fan_issues"
                    value="{% for keyword in keywords['Fan_issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Fan_issues"
                    value="{% for keyword in keywords['Not_Fan_issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>HVAC Drip or Leak</label>
                <input type="text" name="HVAC_drip_or_leak"
                    value="{% for keyword in keywords['HVAC_drip_or_leak'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_HVAC_drip_or_leak"
                    value="{% for keyword in keywords['Not_HVAC_drip_or_leak'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <label>Unbalanced HVAC</label>
                <input type="text" name="Unbalanced_HVAC"
                    value="{% for keyword in keywords['Unbalanced_HVAC'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Unbalanced_HVAC"
                    value="{% for keyword in keywords['Not_Unbalanced_HVAC'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            

            <div class="box">
                <label>Inadequate HVAC Capacity</label>
                <input type="text" name="Inadequate_HVAC_capacity"
                    value="{% for keyword in keywords['Inadequate_HVAC_capacity'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Inadequate_HVAC_capacity"
                    value="{% for keyword in keywords['Not_Inadequate_HVAC_capacity'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            <div class="box">
                <label>Electrical</label>
                <input type="text" name="Electrical"
                    value="{% for keyword in keywords['Electrical'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Electrical"
                    value="{% for keyword in keywords['Not_Electrical'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            <div class="box">
                <label>Fire</label>
                <input type="text" name="Fire"
                    value="{% for keyword in keywords['Fire'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Fire"
                    value="{% for keyword in keywords['Not_Fire'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            <div class="box">
                <label>Window Issues</label>
                <input type="text" name="Window_issues"
                    value="{% for keyword in keywords['Window_issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Window_issues"
                    value="{% for keyword in keywords['Not_Window_issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            <div class="box">
                <label>Window Leak</label>
                <input type="text" name="Window_Leak"
                    value="{% for keyword in keywords['Window_Leak'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Window_Leak"
                    value="{% for keyword in keywords['Not_Window_Leak'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            <div class="box">
                <label>Windows Fogged</label>
                <input type="text" name="Windows_Fogged"
                    value="{% for keyword in keywords['Windows_Fogged'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Windows_Fogged"
                    value="{% for keyword in keywords['Not_Windows_Fogged'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            <div class="box">
                <label>Window Condensation</label>
                <input type="text" name="Window_Condensation"
                    value="{% for keyword in keywords['Window_Condensation'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Window_Condensation"
                    value="{% for keyword in keywords['Not_Window_Condensation'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            <div class="box">
                <label>Washer Dryer Issues</label>
                <input type="text" name="Washer_Dryer_Issues"
                    value="{% for keyword in keywords['Washer_Dryer_Issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Washer_Dryer_Issues"
                    value="{% for keyword in keywords['Not_Washer_Dryer_Issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            <div class="box">
                <label>Dishwasher Issues</label>
                <input type="text" name="Dishwasher_Issues"
                    value="{% for keyword in keywords['Dishwasher_Issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
                <input type="text" name="Not_Dishwasher_Issues"
                    value="{% for keyword in keywords['Not_Dishwasher_Issues'] %}{% if keyword is string and not keyword.startswith('[') %}'{{ keyword }}'{% else %}{{ keyword }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            
            <div class="box">
                <input type="submit" value="Save">
            </div>
        </div>
    </form>
</body>

<script>
    // add event listener for input focus
    var inputs = document.querySelectorAll('.box input[type="text"]');
    for (var i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('focus', function () {
            this.style.height = '100px'; // set expanded height
        });
        inputs[i].addEventListener('blur', function () {
            this.style.height = '30px'; // set initial height
        });
    }
</script>

</html>